body{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}
.box{
    box-shadow: 1px 1px 2px 5px hsla(222, 100%, 96%, 0.712);
    width: 700px;
    height: 500px;
    border-radius: 25px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.bluepart{
    height: 500px;
    width: 350px;
    background-color: hsl(252, 100%, 67%);
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius:25px;
    border: none;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: hsla(256, 72%, 46%, 1);
    background-image: linear-gradient(to bottom,rgba(78, 33, 202, 0.42),hsla(241, 72%, 46%, 0));
    text-align: center;
}
.result{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.685);
    padding-top: 30px;
}
h3{
    font-size: 35px;
    padding: 0;
    margin: 0;
}
p{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.583);
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 35px;
    width: 350px;
    height: 500px;
}
.summary{
    font-size: 20px;
    color: black;
}
h2{
    font-size: 80px;
    padding-top: 45px;
    margin: 0;
}
h4{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.545);
    padding: 0;
    margin: 0;
}
.red{
    width: 270px;
    height: 50px;
    background-color: hsla(0, 100%, 67%, 0.274);
    color: hsl(0, 100%, 67%);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
}
.yellow{
    width: 270px;
    height: 50px;
    background-color: hsla(39, 100%, 56%, 0.33);
    color: hsl(39, 100%, 56%);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
}
.green{
    width: 270px;
    height: 50px;
    background-color: hsla(166, 100%, 37%, 0.266);
    color: hsl(166, 100%, 37%);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
}
.blue{
    width: 270px;
    height: 50px;
    background-color: hsla(234, 85%, 45%, 0.289);
    color: hsl(234, 85%, 45%);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: medium;
}
.m{
    color: black;
}
.pale{
    color: rgba(0, 0, 0, 0.438);

}
.continue{
    width: 270px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color:  hsl(224, 30%, 27%);
    color: white;
    font-size: medium;
}
.mark{
    display: flex;
    flex-direction: row;
}
